@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');




.app {
    width: 100%;
    flex-wrap: wrap;
    background-color: #062226;
    background-size: contain;
}

.app_img {
    width: 100%;
    height: 13rem;
    display: block;
    background-image: url("../morty.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.app_main {
    background-image: url("https://media2.giphy.com/media/UYBDCJjwOd9Re/giphy.gif?cid=ecf05e47u5s5fnc6fjsfq626vpii6ujabx4q230jy6d4ui37&ep=v1_gifs_search&rid=giphy.gif&ct=g");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.location_info {
    max-width: 600px;
    background-color: #062226;
    border: 1px solid black;
    color: white;
    border-radius: 0.8rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 2rem;
}

.resident_container {
    border-radius: 1rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
    background-color: transparent;
}

.imput {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imput_title {
    margin-top: 1rem;
    font-family: 'Creepster', cursive;
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: #61DAFB;
    animation: textAnimationMobile 2s infinite;
}

@keyframes textAnimationMobile {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media (min-width: 768px) {
    .imput_title {
        margin-top: 1rem;
        font-family: 'Creepster', cursive;
        font-size: 2rem;
        letter-spacing: 5px;
        color: #61DAFB;
        animation: textAnimationDesktop 2s infinite;
    }

    @keyframes textAnimationDesktop {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }
}

body {
    background-color: black;
}

footer {
    background-color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Creepster', cursive;
    font-size: 1.5rem;
    box-shadow: 0 0.4em 0.8em rgba(16, 236, 16, 0.85);
}

footer header {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

footer h3 {
    padding: 1rem;
    margin-top: 1rem;
    color: rgba(16, 236, 16, 0.85);
}

footer p {
    color: #61DAFB;
}

footer i {
    color: #61DAFB;
}

footer div {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    font-size: 2.5rem;
    cursor: pointer;
}

footer .work_footer {
    padding: 1rem;
}

.work_footer i {
    color: rgba(16, 236, 16, 0.85);
    transition: transform 0.3s ease;
}

.work_footer i:hover {
    transform: translateY(-10px);
}